<ion-content>
  <form
    [formGroup]="changePasswordForm"
    [prEqualValidator]="['newPassword', 'confirmPassword']"
  >
    <!-- <ion-row *ngIf="(previousRouteUrl$ | async)?.previousUrl !== '/forgot-password'"> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-input
            placeholder="{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate }}"
            formControlName="oldPassword"
            [type]="passwordType"
            #oldPassword
            clearOnEdit="false"
          >
          </ion-input>
          <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            item-end
            prShowHideInput
            [targetInput]="oldPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm.get('oldPassword').hasError(validation.type) &&
            (changePasswordForm.get('oldPassword').dirty ||
              changePasswordForm.get('oldPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-input
            placeholder="{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
            formControlName="newPassword"
            #newPassword
            [type]="passwordType"
            clearOnEdit="false"
          >
          </ion-input>
          <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            item-end
            prShowHideInput
            [targetInput]="newPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm.get('newPassword').hasError(validation.type) &&
            (changePasswordForm.get('newPassword').dirty ||
              changePasswordForm.get('newPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
      <ng-container>
        <div class="error-message" *ngIf="matchPasswordError">
          {{ validation_messages.matchPasswordError.message }}
        </div>
      </ng-container>
      
    </div>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            type="password"
            placeholder="{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}"
            #confirmPassword
            formControlName="confirmPassword"
            clearOnEdit="false"
          ></ion-input>

          <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            item-end
            prShowHideInput
            [targetInput]="confirmPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <div *ngIf="confirmPassword.errors.matchValueError">Confirm Password & Password must be same.</div> -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm
              .get('confirmPassword')
              .hasError(validation.type) &&
            (changePasswordForm.get('confirmPassword').dirty ||
              changePasswordForm.get('confirmPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="error-message" [hidden]="changePasswordForm.get('confirmPassword').valid 
    || (changePasswordForm.get('confirmPassword').pristine)">
      Password mismatch
  </div>

    <br />
    <ion-row>
      <ion-col size="6">
        <app-back-button [link]="['/dashboard']"></app-back-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          color="blue"
          expand="full"
          fill="solid"
          [disabled]="!changePasswordForm.valid"
          (click)="changePasswordClick()"
          translate
          >CHANGE_PASSWORD.CHANGE_BUTTON</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
