<ion-content>
  <form [formGroup]="changePasswordForm" [prEqualValidator]= "['newPassword', 'confirmPassword']" (ngSubmit)="changePassword()">
    <ion-row *ngIf="(previousRouteUrl$ | async)?.previousUrl !== '/forgot-password'">
      <ion-col>
          <ion-item>
        <!-- <ion-label position="floating">Password</ion-label> -->
        <ion-input
          placeholder="{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate }}"
          formControlName="oldPassword"
          [type]="passwordType"
          #oldPassword
        >
        </ion-input>
        <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            clear
            item-end
            prShowHideInput
            [targetInput]="oldPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
          </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm.get('oldPassword').hasError(validation.type) &&
            (changePasswordForm.get('oldPassword').dirty ||
              changePasswordForm.get('oldPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-row>
      <ion-col>
          <ion-item>
        <!-- <ion-label position="floating">Password</ion-label> -->
        <ion-input
          placeholder="{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
          formControlName="newPassword"
          #newPassword
          [type]="passwordType">
        </ion-input>
        <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            clear
            item-end
            prShowHideInput
            [targetInput]="newPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm.get('newPassword').hasError(validation.type) &&
            (changePasswordForm.get('newPassword').dirty ||
              changePasswordForm.get('newPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Confirm Password"
            #confirmPassword
            formControlName="confirmPassword"
          ></ion-input>


          <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            clear
            item-end
            prShowHideInput
            [targetInput]="confirmPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <div *ngIf="confirmPassword.errors.matchValueError">Confirm Password & Password must be same.</div> -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            changePasswordForm
              .get('confirmPassword')
              .hasError(validation.type) &&
            (changePasswordForm.get('confirmPassword').dirty ||
              changePasswordForm.get('confirmPassword').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <br />
    <ion-row>
      <ion-col size="6">
        <ion-button color="blue" expand="full" fill="solid">Back</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="blue" expand="full" fill="solid" [disabled]="!changePasswordForm.valid">Change</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
