<ion-grid class="ion-margin-horizontal align-items-start">
  <ion-row>
    <ion-col class="ion-float-left" translate>
      ADD_DISTRIBUTOR.ADD_TAB_MESSAGE
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Distributor Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <ion-input placeholder="Enter Input"></ion-input>
            <ion-input placeholder="Enter Input"></ion-input> -->
    </ion-col>
  </ion-row>
</ion-grid>
