<ion-grid class="ion-margin-horizontal align-items-start">
  <ion-row>
    <ion-col class="ion-float-left" translate>
      ADD_DISTRIBUTOR.ADD_TAB_MESSAGE
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Distributor Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <br />
  <ion-row>
    <ion-col size="6" class="signin">
      <app-back-button [link]="['/login']"></app-back-button>
    </ion-col>
    <ion-col size="6" class="create">
      <ion-button (click)="sendOtp()" color="blue" expand="full" fill="solid">{{
        "SUBMIT" | translate
      }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
