<ion-content padding>
  <ion-row class="filter">
    <ion-col text-start>
      <ion-label (click)="presentModalNotificationFilter()">
        <ion-icon name="wine"></ion-icon><span class="padding">{{'NOTIFICATION.FILTER_TEXT' | translate}}</span>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-label class="blue-color">Credit Note Status Change</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col text-start>
          <ion-label>
            Keep close to Nature's heart... and break clear away, once in a while,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-end>
          <ion-label>
            26 July 1:07 PM
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>