<ion-content padding>
  <ion-row class="filter" (click)="presentModalNotificationFilter()">
    <ion-col text-start size="5">
      <ion-icon name="wine"></ion-icon>
    </ion-col>
    <ion-col text-start size="7">
      <ion-label>
        <span>{{ "DELIVERY.FILTER" | translate }}</span>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let notification of notificationList$ | async">
    <ion-card-header>
      <ion-label class="blue-color">{{notification.Title}}</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col text-start>
          <ion-label>
            {{notification.Message}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-end>
          <ion-label>
            {{notification.SentDate | date: "dd MMM yyyy h:mm a"}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
