<ion-content class="padding-4">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-button
        fill="clear"
        color="dark"
        (click)="setActiveTab(tab)"
        [ngClass]="{
          'tab-selected': activeTab == tab
        }"
        *ngFor="let tab of tabInfo"
      >
        <ion-label
          [ngClass]="{
            'blue-color': activeTab == tab
          }"
          >{{ tab | uppercase }}</ion-label
        >
      </ion-button>
    </ion-tab-bar>
  </ion-tabs>
  <br /><br />

  <form [formGroup]="neworderForm">
    <ion-card>
      <ion-row *ngIf="activeTab == 'ORDER VIA DISTRIBUTOR'">
        <ion-col>
          <pr-select
            [placeHolder]="'NEW_ORDER.STORE_PLACEHOLDER' | translate"
            [ctrName]="'store'"
            [items]="storeList"
            [id]="'PartyCode'"
            [name]="'StoreName'"
            [canSearch]="true"
            [preSelectedOn]="'StoreId'"
            [preSelectedValue]="newOrderModel.StoreId"
            (valueChange)="changeStore($event)"
          ></pr-select>
        </ion-col>
      </ion-row>
      <br />
      <!-- <div *ngIf="newOrderModel.StoreId.length > 0"> -->
      <ion-row *ngIf="newOrderModel.StoreId.length > 0">
        <ion-col size="6" text-start>
          <ion-label
            ><b>{{ "NEW_ORDER.TOTAL_BAL" | translate }}</b></ion-label
          >
        </ion-col>
        <ion-col size="6" text-end>
          <ion-label (click)="presentModalOrderHistory()" class="blue-color">{{
            "NEW_ORDER.ORDER" | translate
          }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="newOrderModel.StoreId.length > 0">
        <ion-col size="4" text-center>
          <ion-label class="green">{{
            "NEW_ORDER.IN_STOCK" | translate
          }}</ion-label>
        </ion-col>
        <ion-col size="4" text-center>
          <ion-label class="dark-blue">{{
            "NEW_ORDER.LOW_STOCK" | translate
          }}</ion-label>
        </ion-col>
        <ion-col size="4" text-center>
          <ion-label class="red">{{
            "NEW_ORDER.NO_STOCK" | translate
          }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="newOrderModel.StoreId.length > 0">
        <ion-col size="10">
          <ion-searchbar
            animated
            clearInput
            formControlName="searchText"
            [placeholder]="'NEW_ORDER.SEARCH_PRODUCT_PLACEHOLDER' | translate"
            [showCancelButton]="false"
            (ionChange)="search($event)"
            (ionClear)="clearSearchInput()"
            [value]="recentSearchedItem"
            autofocus="true"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-icon
            (click)="presentModalSimilarProducts()"
            class="modal-icon"
            name="reorder"
          ></ion-icon>
        </ion-col>
      </ion-row>

    <!-- </div> -->

      </ion-card>

      <ion-list *ngIf="searchList.length !== 0">
        <ion-item
          *ngFor="let product of searchList"
          (click)="selectProduct(product)"
        >
          <ion-label
            [ngClass]="{
              red: product.Stock == 0,
              green: product.Stock >= 50,
              'dark-blue': product.Stock < 50
            }"
          >
            <h2>{{ product.ProductName }}</h2>
            <h3>
              <ion-label>
                {{ product.Packing }}
              </ion-label>
              <ion-label> Stk:{{ product.Stock }} </ion-label>
              <ion-label>
                {{ product.Company }}
              </ion-label>
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- <div *ngIf="newOrderModel.Products.length != 0"> -->
        <ion-card>
      <div *ngIf="showHeaderLabel">
        <ion-row>
          <ion-col size="3" text-center >
            <ion-label>{{ "NEW_ORDER.QTY" | translate }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center >
            <ion-label>{{ "NEW_ORDER.FREE" | translate }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center >
            <ion-label>{{ "NEW_ORDER.PTR" | translate }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center >
            <ion-label>{{ "NEW_ORDER.TOTAL" | translate }}</ion-label>
          </ion-col>
        </ion-row>
      </div>

      <div *ngFor="let product of newOrderModel.Products; let i = index">
        <ion-row *ngIf="!product['Added']">
          <ion-col size="3" text-center>
            <ion-label>{{ "NEW_ORDER.QTY" | translate }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center>
            <ion-label>{{ "NEW_ORDER.FREE" | translate }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center>
            <ion-label>{{ "NEW_ORDER.HS" | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" text-start *ngIf="product['Added']" class="product-name">
            <ion-label class="mustard-color">{{
              product.ProductName
            }}</ion-label>
          </ion-col>
          <ion-col *ngIf="product['Added']" size="2" text-center>
            <ion-icon
              (click)="deleteProduct(i)"
              class="delete-icon red"
              name="trash"
            ></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" text-center>
            <ion-item>
              <ion-input class="ion-no-padding"
                name="qty"
                type="number"
                [(ngModel)]="product.Quantity"
                [ngModelOptions]="{ standalone: true }"
                (ionChange)="setQuantity(i, $event, product)"
                placeholder="Qty"
                autofocus="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" text-center>
            <div class="tagbubble" *ngIf="product.Free" >
              {{ product.Free }}
            </div>
            <ion-label *ngIf="product.Added && product.HS">
              HS
            </ion-label>
          </ion-col>
          <ion-col size="3" text-center>
            <ion-label  *ngIf="!product.Added">{{
              product.HS ? product.HS : ""
            }}</ion-label>
            <ion-label  *ngIf="product.Added">{{
              product.PTR ? product.PTR : 0
            }}</ion-label>
          </ion-col>
          <ion-col size="3" text-center>
            <ion-button
              *ngIf="!product['Added']"
              (click)="addProduct(product)"
              class="add-button"
              color="mustard"
              >{{ "NEW_ORDER.ADD" | translate }}</ion-button
            >
            <ion-label  *ngIf="product.Added">
              <span *ngIf="product.Quantity">{{
                (product.PTR * product.Quantity) ? (product.PTR * product.Quantity) : 0 
              }}</span>
            </ion-label>
          </ion-col>
        </ion-row>

        <div *ngIf="!product['Added'] && product.Scheme != ''">
          <ion-row>
            <ion-col> <b>Scheme: </b>{{ product.Scheme }} </ion-col>
          </ion-row>
        </div>
        <div *ngIf="!product['Added']">
          <ion-row>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.STOCK" | translate }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.PKG" | translate }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.CASE" | translate }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.BOX" | translate }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.MRP" | translate }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ "NEW_ORDER.PTR" | translate }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="2" text-center>
              <ion-label>{{ product.Stock ? product.Stock : 0 }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ product.Packing }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{
                product.CasePacking ? product.CasePacking : product["Slot"]
              }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{
                product.BoxPacking ? product.BoxPacking : product.MRP
              }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{ product.MRP }}</ion-label>
            </ion-col>
            <ion-col size="2" text-center>
              <ion-label>{{
                product.PTR ? product.PTR : product.MRP
              }}</ion-label>
            </ion-col>
          </ion-row>
        </div>
      </div>

    </ion-card>

      <div *ngIf="newOrderModel.Products.length > 0">
        <ion-row>
          <ion-col text-center>
            <ion-label class="total">
              <!-- {{ "NEW_ORDER.GRAND_TOTAL" | translate }} ₹ {{ grandTotal.toFixed(2) }} -->
              {{ "NEW_ORDER.GRAND_TOTAL" | translate }} ₹{{
                newOrderModel.Total
              }}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              formControlName="remarks"
              [placeholder]="'NEW_ORDER.REMARKS_PLACEHOLDER' | translate"
              [(ngModel)]="newOrderModel.Remarks"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <pr-select
              [placeHolder]="'NEW_ORDER.DELIVERY_PLACEHOLDER' | translate"
              [ctrName]="'deliveryMode'"
              [items]="deliveryModeList"
              [id]="'name'"
              [name]="'name'"
              [canSearch]="true"
              [preSelectedOn]="'name'"
              [preSelectedValue]="newOrderModel.DeliveryOption"
              (valueChange)="changeDeliveryTo($event)"
            ></pr-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <pr-select
              [placeHolder]="'NEW_ORDER.PRIORITY_PLACEHOLDER' | translate"
              [ctrName]="'deliveryPriority'"
              [items]="deliveryPriorityList"
              [id]="'name'"
              [name]="'name'"
              [canSearch]="true"
              [preSelectedOn]="'name'"
              [preSelectedValue]="newOrderModel.PriorityOption"
              (valueChange)="changeDeliveryPriority($event)"
            ></pr-select>
          </ion-col>
        </ion-row>

        <br />

        <ion-row class="border-grey">
          <ion-col text-center class="border-right-grey">
            <ion-label (click)="deleteAll()" class="red">{{
              "NEW_ORDER.DELETE" | translate
            }}</ion-label>
          </ion-col>
          <ion-col text-center class="border-right-grey">
            <ion-label
              (click)="
                alertPopup(
                  'Draft Order',
                  translateService.instant('NEW_ORDER.DRAFT_TEXT'),
                  'draft'
                )
              "
              class="mustard-color"
              >{{ "NEW_ORDER.DRAFT_PO" | translate }}</ion-label
            >
          </ion-col>
          <ion-col text-center>
            <ion-label (click)="createOrder()" class="green">{{
              "NEW_ORDER.CONFIRM" | translate
            }}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    
  </form>

  <!-- <pr-ads *ngIf="neworderForm.value.searchText || newOrderModel.Products.length !== 0"></pr-ads> -->
</ion-content>
