.modal-icon {
  font-size: 2rem;
  padding-top: 1rem;
}

ion-input {
  border: 1px solid grey;
  font-weight: bold;
}

.add-button{
    padding: 2%;
    margin-top: -1%;
}

.border-grey{
    border: 1px solid grey;
}

.border-right-grey{
    border-right: 1px solid grey;
}

.total{
    font-size: 1.5rem;
    color: darkblue;
}

ion-item{
    border: 1px solid grey;
}