<ion-content>
  <ion-row>
    <ion-col>
      <pr-slide></pr-slide>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-card *ngFor="let product of mallProducts">
      <ion-card-header>
        <ion-row>
          <ion-col size="4">
            <ion-avatar>
              <img
                [src]="product.ImagePath"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-col>
                <ion-card-title>{{product.ProductName}}</ion-card-title>
                <ion-card-subtitle>{{product.BrandName}}</ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                Margin 400%
              </ion-col>
              <ion-col size="8">
                  <ion-item float-right>
                    <ion-button (click)="add(product)">ADD</ion-button>
                  </ion-item>
                  <!-- <ion-button>Default</ion-button> -->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="4">
            <p>PTR</p>
            <p>₹ {{product.PTR}}</p>
          </ion-col>
          <ion-col size="8">
            <p>MRP</p>
            <p>₹ {{product.MRP}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>Scheme</p>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
