<ion-row>
  <ion-col>
    <ion-searchbar
      [(ngModel)]="searchText"
      placeholder="{{ searchPlaceholder }}" 
      [showCancelButton]="true" 
      (ionChange)="search()"
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-list *ngIf="searchList.length == 0 && searchText.length >= 3">
  <ion-item>
    <ion-label>Not Found</ion-label>
  </ion-item>
</ion-list>

<ion-row *ngIf="searchText.length < 3">
  <ion-col>
    <ion-label class="search-validation-text">Please enter minimum 3 characters to search</ion-label>
  </ion-col>
</ion-row>