<ion-content padding>
  <div *ngFor="let order of orderDetails">
    <ion-row>
      <ion-col text-start>
        <ion-label class="storename"
          ><b>{{ order.ProductName }}</b></ion-label
        >
        &nbsp;&nbsp;
        <ion-icon
          style="font-size: 1.4rem !important;"
          (click)="call()"
          class="blue-color"
          name="call"
        ></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start size="6">
        <ion-label>
          <b>{{ "MY_ORDER.ORDERID" | translate }}</b>
        </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-label>{{ order.OrderNo }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start size="6">
        <ion-label>
          <b>{{ "MY_ORDER.PLACED" | translate }}</b>
        </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-label>{{
          order.CreatedDate | date: "dd MMM yyyy h:mm a"
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start size="6">
        <ion-label>
          <b>{{ "MY_ORDER.UPLOADED" | translate }}</b>
        </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-label>{{
          order.CreatedDate | date: "dd MMM yyyy h:mm a"
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start size="6">
        <ion-label>
          <b>{{ "MY_ORDER.PROCESSED" | translate }}</b>
        </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-label>{{
          order.CreatedDate | date: "dd MMM yyyy h:mm a"
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row (click)="call(order.OrderDetailId)">
      <ion-col text-start size="6">
        <ion-label class="blue-color">
          <b>{{ "MY_ORDER.CALL" | translate }}</b>
        </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-icon class="blue-color" name="call"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start size="6">
        <ion-label> </ion-label>
      </ion-col>
      <ion-col text-end size="6">
        <ion-label>₹{{ order.StoreId }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-card class="border-mustard">
      <ion-card-content>
        <ion-row>
          <ion-col text-start>
            <ion-label>
              <b>{{ "MY_ORDER.REMARKS" | translate }}: </b
              >{{ order.ProductName }}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <ion-label>
              <b>{{ "MY_ORDER.MODE" | translate }}: </b>
              {{ order.ProductName }}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <ion-label>
              <b>{{ "MY_ORDER.PRIORITY" | translate }}: </b>
              {{ order.ProductName }}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col size="3" text-center>
        <ion-label>{{ "NEW_ORDER.QTY" | translate }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ "NEW_ORDER.FREE" | translate }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ "NEW_ORDER.PTR" | translate }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ "NEW_ORDER.TOTAL" | translate }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" text-center>
        <ion-label>{{ order.Quantity }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ order.Free }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ order.PTR }}</ion-label>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-label>{{ order.DisplayProductCode }}</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <pr-new-order-button></pr-new-order-button>
</ion-content>
