<ion-header>
  <ion-toolbar>      
    <ion-row>
      <ion-col size="10">
        <ion-title class="header-title">{{'MY_ORDER.FILTER' | translate}}</ion-title>
      </ion-col>
      <ion-col size="2" text-end>
        <ion-icon
          (click)="modalController.dismiss()"
          class="header-icon"
          name="close"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="orderFilterForm">
    
    <ion-row>
      <ion-col>
        <pr-select
          [placeHolder]="'FEEDBACKSTORE_PLACEHOLDER' | translate"
          [ctrName]="'store'"
          [items]="storeList"
          [id]="'id'"
          [name]="'name'"
          [canSearch]="true"
          (valueChange)="updateStore($event)"
        ></pr-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
          formControlName="orderNo"
          type="text"
          placeholder="Order No"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" text-start>
        <ion-label class="date-label"><b>{{'MY_ORDER.FROMDATE' | translate}}:</b></ion-label>
      </ion-col>
      <ion-col size="4" text-start>
        <ion-datetime
          [placeholder]="orderFilterForm.value.fromDate" 
          pickerFormat="DD/MM/YY" 
          display-format="DD/MM/YY"
          formControlName="fromDate"
        ></ion-datetime>
      </ion-col>
      <ion-col size="2" text-start>
        <ion-label class="date-label"><b>{{'MY_ORDER.TODATE' | translate}}:</b></ion-label>
      </ion-col>
      <ion-col size="4" text-start>
        <ion-datetime
          [placeholder]="orderFilterForm.value.toDate" 
          pickerFormat="DD/MM/YY" 
          display-format="DD/MM/YY"
          formControlName="toDate"
        ></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.fromDate">
            <div
              class="error-message"
              *ngIf="
                orderFilterForm.get('fromDate').hasError(validation.type) &&
                (orderFilterForm.get('fromDate').dirty ||
                  orderFilterForm.get('fromDate').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.toDate">
            <div
              class="error-message"
              *ngIf="
                orderFilterForm.get('toDate').hasError(validation.type) &&
                (orderFilterForm.get('toDate').dirty ||
                  orderFilterForm.get('toDate').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="floating">{{'MY_ORDER.STATUS' | translate}}</ion-label>
        <ion-select formControlName="status">
          <ion-select-option *ngFor="let item of statusList" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="floating">{{'MY_ORDER.OPERATION' | translate}}</ion-label>
        <ion-select formControlName="operation">
          <ion-select-option *ngFor="let item of operationTypes" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <br />

    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="3" class="signin" text-end>
        <ion-button
          (click)="modalController.dismiss()"
          color="mustard"
          expand="full"
          fill="solid"
        >
        {{'MY_ORDER.CLOSE' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="3" class="create" text-end>
        <app-submit-button (click)="orderFilterSubmit()"></app-submit-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
