<ion-content padding>
    <ion-row class="shadow">
      <ion-col text-start size="8">
        <ion-label class="filter" (click)="presentModalSalesReturnFilter()"
          ><ion-icon name="funnel"></ion-icon>&nbsp;&nbsp;{{'SALESRETURN.FILTERORDER' | translate}}</ion-label
        >
      </ion-col>
  
      <ion-col text-end size="4">
        <ion-label class="blue-color">{{'SALESRETURN.SR' | translate}}</ion-label><br />
        <ion-label class="blue-color">{{total.count}}</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-list>
      <ion-row *ngFor="let sales of mysalesReturnList">
        <ion-col>
          <ion-row>
            <ion-col text-start size="8">
              <ion-label><b>{{ sales.StoreName }}</b></ion-label>
            </ion-col>
            <ion-col text-end size="4">
              <ion-label class="blue-color">{{ sales.salesReturnNo }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-start size="6">
              <ion-label>{{ sales.salesReturnDate | date: "dd MMM yyyy h:mm a" }}</ion-label>
            </ion-col>
            <ion-col text-center size="3">
              <ion-label (click)="goToSalesReturnDetails(sales)" class="blue-color">{{'MY_ORDER.PLACED' | translate}} ></ion-label>
            </ion-col>
            <ion-col text-end size="3">
              <ion-label>₹{{ sales.salesReturnAmount }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-list>
  
  </ion-content>
  