ion-input {
  --placeholder-color: black !important;
  // border: 1px solid grey;
  margin-bottom: 1px;
}

ionic-selectable {
  border: none !important;
}

.native-input[disabled].sc-ion-input-md {
  opacity: .4;
  background-color: lightgray;
}

.camera {
  font-size: 2.5rem;
}

ionic-selectable {
  margin-bottom: 1rem;
}

.selectWidth {
  width: 50%;
}

.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
  margin-bottom: 12px;
}
