<ion-content padding>
  <form [formGroup]="profileForm">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.LOGIN_ID</ion-label>
          <ion-input
            formControlName="loginId"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.RetailerId"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="disableClick">
          <ion-label position="floating" translate
            >PROFILE.BUSINESS_TYPE</ion-label
          >
          <pr-select
            [placeHolder]="'REGISTER.BT' | translate"
            [ctrName]="'businessType'"
            [items]="businessTypes$ | async"
            [id]="'BusinessTypeId'"
            [name]="'BusinessTypeName'"
            [canSearch]="true"
            [preSelectedOn]="'BusinessTypeId'"
            [preSelectedValue]="(userProfileDetails$ | async)?.BusinessTypeId"
            (valueChange)="updateBussinessType()"
            [disableControl]="true"
          ></pr-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate
            >PROFILE.SHOP_FULL_NAME</ion-label
          >
          <ion-input
            formControlName="shopName"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.RetailerName"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.NAME</ion-label>
          <ion-input
            formControlName="firstName"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.FirstName"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.ADDRESS</ion-label>
          <ion-input
            formControlName="address1"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.Address1"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.PINCODE</ion-label>
          <ion-input
            formControlName="pincode"
            oninput="this.value=this.value.slice(0,6)"
            type="text"
            maxlength="6"
            [ngModel]="(userProfileDetails$ | async)?.Pincode"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="disableClick">
          <ion-label position="floating" translate>PROFILE.REGION</ion-label>
          <pr-select
            [placeHolder]="'REGISTER.REGIONS' | translate"
            [ctrName]="'region'"
            [items]="regions$ | async"
            [id]="'RegionId'"
            [name]="'RegionName'"
            [canSearch]="true"
            [preSelectedOn]="'RegionId'"
            [preSelectedValue]="(userProfileDetails$ | async)?.RegionId"
            (valueChange)="updateRegion($event)"
            [disableControl]="true"
          ></pr-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.EMAIL</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            [ngModel]="(userProfileDetails$ | async)?.Email"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate
            >PROFILE.MOBILE_NUMBER</ion-label
          >
          <ion-input
            formControlName="mobileNumber"
            type="tel"
            maxlength="10"
            minlength="10"
            [ngModel]="(userProfileDetails$ | async)?.MobileNumber"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate>PROFILE.TELEPHONE</ion-label>
          <ion-input
            formControlName="telephone"
            type="number"
            [ngModel]="(userProfileDetails$ | async)?.Telephone"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate
            >PROFILE.DRUG_LICENSE_NUMBER</ion-label
          >
          <ion-input
            formControlName="licenseNumber"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.LicenseNumber"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" translate
            >PROFILE.GSTIN_NUMBER</ion-label
          >





          <ion-select *ngIf="
          (userProfileDetails$ | async)?.GSTINNumber == null
          && (userProfileDetails$ | async)?.GSTINNumber == ''"
            (ionChange)="setGstinStatus($event)"
            [disabled]="disable"
            interface="popover"
          >
            <ion-select-option
              *ngFor="let status of gstinStatus"
              [value]="status.name"
              [selected]="status.selected"
              >{{ status.name }}</ion-select-option
            >
          </ion-select>



          <ion-input
            formControlName="gstinNumber"
            type="text"
            [ngModel]="(userProfileDetails$ | async)?.GSTINNumber"
            maxlength="15"
          ></ion-input>

          <div
            class="error-message"
            *ngIf="
              profileForm.value.gstinNumber &&
              (profileForm.value.gstinNumber.substring(13, 14) !== 'Z' ||
                profileForm.value.gstinNumber.length < 15)
            "
          >
            {{'PROFILE.GSTIN_TEXT' | translate}}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row hidden>
        <ion-col>
          <ion-item>
            <ion-label position="floating" translate
              >PROFILE.CST_NUMBER</ion-label
            >
            <ion-input
              formControlName="cstNumber"
              type="text"
              [ngModel]="(userProfileDetails$ | async) ?.CSTNumber"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

    <ion-row *ngIf="!disable">
      <ion-col>
        <ion-item>
          <ion-label>{{ "PROFILE.UPLOAD_TEXT" | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="height: 100%; flex-direction: column" *ngIf="!disable">
      <ion-item no-lines class="alignSelf-center">
        <ion-card (click)="openModal()">
          <ion-card-content>
            <img [src]="licenseImage ? licenseImage : photo"/>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-row>

    <br />

    <ion-row *ngIf="disable">
      <ion-col size="6" class="ion-padding">
        <app-back-button [link]="['/dashboard']"></app-back-button>
      </ion-col>
      <ion-col size="6" class="ion-padding">
        <ion-button
          (click)="editProfile(false)"
          *ngIf="disable"
          color="blue"
          expand="full"
          fill="solid"
          translate
          >PROFILE.EDIT_PROFILE</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!disable">
      <ion-col size="6" class="ion-padding">
        <ion-button
          (click)="editProfile(true)"
          color="mustard"
          expand="full"
          fill="solid"
          translate
        >
          PROFILE.CANCEL_BUTTON
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-padding">
        <ion-button
          (click)="updateProfile()"
          color="blue"
          expand="full"
          fill="solid"
          [disabled]="!profileForm.valid"
          translate
          >PROFILE.UPDATE_BUTTON</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
