

  ion-input {
    --placeholder-color: black !important;
    border: 1px solid grey;
    margin-bottom: 1rem;
  }

  ion-label {
    color: black !important;
  }

  ion-icon {
    color: black !important;
  }

  .camera{
    font-size: 2.5rem;
  }

  ionic-selectable{
    margin-bottom: 1rem;
  }