<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <img class="prlogo" src="assets/icon/pr-logo.png" />
    </ion-col> </ion-row
  ><br /><br />

  <div *ngIf="!showVerify">
    <ion-row>
      <ion-col>
        <ion-label class="title">{{
          "FORGOT_PASSWORD.TITLE" | translate
        }}</ion-label>
      </ion-col>
    </ion-row>

    <form [formGroup]="forgotPasswordForm">
      <ion-row>
        <ion-col>
          <ion-label position="floating">{{
            "REGISTER.MOBILE" | translate
          }}</ion-label>
          <ion-input
            formControlName="mobile"
            class="white-border white-color"
            type="number"
            (ionInput)="validationMobile($event.target.value)"
            maxlength = 10
            minlength = 10
          ></ion-input>
        </ion-col>
      </ion-row>

      <div class="validation-errors">
        <ng-container
          *ngFor="
            let validation of validation_messages.mobile;
            trackBy: trackByFn
          "
        >
          <div
            class="error-message"
            *ngIf="
              forgotPasswordForm.get('mobile').hasError(validation.type) &&
              (forgotPasswordForm.get('mobile').dirty ||
                forgotPasswordForm.get('mobile').touched)
            "
          >
            {{ validation.message | translate }}
          </div>
        </ng-container>
      </div>

      <br />
      <ion-row>
        <ion-col>
          <ion-label class="message">{{
            "FORGOT_PASSWORD.SENDOTPMESSAGE" | translate
          }}</ion-label>
        </ion-col>
      </ion-row>
      <br />
      <ion-row>
        <ion-col size="6" class="signin padding0">
          <app-back-button [link]="['/login']"></app-back-button>
        </ion-col>
        <ion-col size="6" class="create padding0">
          <ion-button
            (click)="sendOtp()"
            color="blue"
            expand="full"
            fill="solid"
            >{{ "DASHBOARD.SUBMIT" | translate }}</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="showVerify">
    <ion-row>
      <ion-col>
        <ion-label class="title"
          >&nbsp;{{ "FORGOT_PASSWORD.VERIFY" | translate }}</ion-label
        >
      </ion-col>
    </ion-row>

    <form [formGroup]="forgotPasswordForm">
      <ion-row>
        <ion-col>
          <ion-input
            formControlName="otp"
            class="white-border white-color"
            type="text"
            placeholder="OTP"
          ></ion-input>
        </ion-col>
      </ion-row>

      <div class="validation-errors">
        <div
          class="error-message"
          *ngIf="
            forgotPasswordForm.get('otp').hasError('required') &&
            (forgotPasswordForm.get('otp').dirty ||
              forgotPasswordForm.get('otp').touched)
          "
        >
          {{ "VALIDATIONS.OTPREQUIRED" | translate }}
        </div>
      </div>

      <br />
      <ion-row>
        <ion-col>
          <ion-label class="hyperlink" (click)="sendOtp()"
            >&nbsp;{{ "FORGOT_PASSWORD.RESEND" | translate }}</ion-label
          >
        </ion-col>
      </ion-row>
      <br />
      <ion-row>
        <ion-col>
          <ion-label class="message">{{
            "FORGOT_PASSWORD.VERIFYOTPMESSAGE" | translate
          }}</ion-label>
        </ion-col>
      </ion-row>
      <br />

      <ion-row>
        <ion-col size="6" class="signin">
          <app-back-button
            (click)="showVerify = false"
            [link]="['/forgot-password']"
          ></app-back-button>
        </ion-col>
        <ion-col size="6" class="create">
          <ion-button
            (click)="verifyOtp()"
            color="blue"
            expand="full"
            fill="solid"
            >{{ "DASHBOARD.SUBMIT" | translate }}</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
