ion-button {
  height: 53px;
  font-size: 0.8rem;
  text-transform: inherit;
}

ion-content {
  --background: #373536 !important;
  --color: white !important;
  --ion-padding: 8% !important;
}

ion-label {
  color: white;
}

ion-icon {
  color: white;
}

.hyperlink {
  text-decoration: underline;
}
