<ion-content>
  <br>
  <ion-row class="filter" (click)="presentModalStatusFilter()">
    <ion-col text-start size="2">
      <ion-icon name="wine"></ion-icon>
    </ion-col>
    <ion-col text-center size="10">
      <ion-label>{{'ADD_DISTRIBUTOR.FILTER_TEXT' | translate}}</ion-label>
    </ion-col>
  </ion-row>
  <br>
  <ion-row class="grey-bg">
    <ion-col size="4" text-start>
      <ion-label><b>{{'ADD_DISTRIBUTOR.DISTRIBUTOR_NAME' | translate}}</b></ion-label>
    </ion-col>
    <ion-col size="4" text-center>
      <ion-label><b>{{'ADD_DISTRIBUTOR.CONTACT' | translate}}</b></ion-label>
    </ion-col>
    <ion-col size="4" text-center>
      <ion-label><b>{{'ADD_DISTRIBUTOR.STATUS' | translate}}</b></ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let status of status$ | async">
    <ion-col size="4" text-start>
      <ion-label>{{status.StoreName}}</ion-label>
    </ion-col>
    <ion-col size="4" text-center>
      <ion-label>{{status.Phone}}</ion-label>
    </ion-col>
    <ion-col size="4" text-center>
      <ion-label>{{status.Status}}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
