.disable {
  color: #979ea4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sc-ion-card-md-h {
  height: 100px;
  min-height: 100px;
  margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.sc-ion-card-ios-h{
  height: 100px;
  min-height: 100px;
  margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 4px;
}

::ng-deep .swiper-slide img {
  width: 100%;
}