<ion-row>
  <ng-container *ngFor="let page of pages; trackBy: trackByFn">
    <ion-col text-center size="6" *ngxPermissionsOnly="page.permissions[0]['perm']">
      <ion-card
        [routerLink]="!page.disable ? [page.link] : []"
        [ngClass]="{ disable: page.disable }"
      >
        <ion-row>
          <ion-col text-center>
            <img
              class="dashboard-icon"
              src="{{ page.icon }}"
              
            />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <span translate>{{
              page.name
            }}</span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ng-container>
</ion-row>
