.disable {
  color: #979ea4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sc-ion-card-md-h {
  height: auto;
  min-height: 132px;
}

.sc-ion-card-ios-h{
  height: auto;
  min-height: 132px;
}

::ng-deep .swiper-slide img {
  width: 100%;
}