<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-title class="header-title">{{
          "MY_ORDER.FILTER" | translate
        }}</ion-title>
      </ion-col>
      <ion-col size="2" text-end>
        <ion-icon
          (click)="modalController.dismiss()"
          class="header-icon"
          name="close"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="salesFilterForm">
    <ion-row>
      <ion-col>
        <pr-select
          [placeHolder]="'FEEDBACK.FEEDBACKSTORE_PLACEHOLDER' | translate"
          [ctrName]="'store'"
          [items]="storeList"
          [id]="'StoreId'"
          [name]="'StoreName'"
          [canSearch]="true"
          (valueChange)="updateStore($event)"
        ></pr-select>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-label position="floating">{{
            "SALESRETURN.SELECTRETURN" | translate
          }}</ion-label>
          <ion-select formControlName="returnType">
            <ion-select-option *ngFor="let item of salesReturnTypes$ | async" [value]="item.CreditNoteTypeId">{{
              item.Type
            }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
          formControlName="salesReturnNo"
          type="text"
          [placeholder]="'SALESRETURN.SRN' | translate"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" text-start>
        <ion-label class="date-label"
          ><b>{{ "MY_ORDER.FROMDATE" | translate }}:</b></ion-label
        >
      </ion-col>
      <ion-col size="4" text-start>
        <ion-datetime
          [placeholder]="salesFilterForm.value.fromDate"
          pickerFormat="DD/MM/YY"
          display-format="DD/MM/YY"
          formControlName="fromDate"
        ></ion-datetime>
      </ion-col>
      <ion-col size="2" text-start>
        <ion-label class="date-label"
          ><b>{{ "MY_ORDER.TODATE" | translate }}:</b></ion-label
        >
      </ion-col>
      <ion-col size="4" text-start>
        <ion-datetime
          [placeholder]="salesFilterForm.value.toDate"
          pickerFormat="DD/MM/YY"
          display-format="DD/MM/YY"
          formControlName="toDate"
        ></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.fromDate">
            <div
              class="error-message"
              *ngIf="
                salesFilterForm.get('fromDate').hasError(validation.type) &&
                (salesFilterForm.get('fromDate').dirty ||
                  salesFilterForm.get('fromDate').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.toDate">
            <div
              class="error-message"
              *ngIf="
                salesFilterForm.get('toDate').hasError(validation.type) &&
                (salesFilterForm.get('toDate').dirty ||
                  salesFilterForm.get('toDate').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>    

    <br />

    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="3" class="signin" text-end>
        <ion-button
          (click)="modalController.dismiss()"
          color="mustard"
          expand="full"
          fill="solid"
        >
          {{ "MY_ORDER.CLOSE" | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="3" class="create" text-end>
        <app-submit-button (click)="salesFilterSubmit()"></app-submit-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
