<ion-content padding>
  <ion-row class="shadow">
    <ion-col text-start size="6">
      <ion-label class="filter" (click)="presentModalOrderFilter()"
        ><ion-icon name="funnel"></ion-icon>&nbsp;&nbsp;{{'MY_ORDER.FILTERORDER' | translate}}</ion-label
      >
    </ion-col>

    <ion-col text-end size="6">
      <ion-label class="blue-color">{{'MY_ORDER.AMOUNT' | translate}}</ion-label><br />
      <ion-label class="blue-color">₹{{total.amount.toFixed(2)}} | {{total.count}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-row *ngFor="let order of myOrderList">
      <ion-col>
        <ion-row>
          <ion-col text-start size="8">
            <ion-label><b>{{ order.StoreName }}</b></ion-label>
          </ion-col>
          <ion-col text-end size="4">
            <ion-label class="blue-color">{{ order.OrderNo }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start size="6">
            <ion-label>{{ order.OrderDate | date: "dd MMM yyyy h:mm a" }}</ion-label>
          </ion-col>
          <ion-col text-center size="3">
            <ion-label (click)="goToOrderDetails(order)" class="blue-color">{{'MY_ORDER.PLACED' | translate}} ></ion-label>
          </ion-col>
          <ion-col text-end size="3">
            <ion-label>₹{{ order.OrderAmount }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more orders..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <pr-new-order-button></pr-new-order-button>
</ion-content>
