<!-- <ion-content>
  <ion-grid>
    <ion-row class="row-box-shadow">
      <ion-col size="6">
        <ion-row>
          <ion-col size="2">
            <ion-icon name="funnel"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <span translate>Filter Order</span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="6">
            <ion-label>
              Amount
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>
              |
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>
              Order
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label> </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>
              |
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label> </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content padding>
  <ion-row class="shadow">
    <ion-col text-start size="6">
      <ion-label class="filter" (click)="presentModalOrderFilter()"
        ><ion-icon name="wine"></ion-icon>Filter Order</ion-label
      >
    </ion-col>

    <ion-col text-end size="6">
      <ion-label class="blue-color">Amount | Order</ion-label><br />
      <ion-label class="blue-color">₹0.00 | 0</ion-label>
    </ion-col>
  </ion-row>

  <ion-list></ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>