<!-- <link rel="manifest" href="../manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "8c0d9b5c-ba78-4feb-a240-f708199f111a"
    });
  });
</script> -->

<ion-app>
    <!-- <div *ngIf="showSplash" class="splash">
        <div class="spinner"></div>
      </div> -->
  <pr-toolbar></pr-toolbar>
  <pr-top-loader></pr-top-loader>
  <ion-content>
    <pr-refresh *ngIf="!disablePullRefresh()"></pr-refresh>
    <app-sidemenu></app-sidemenu>
  </ion-content>

  <img *ngIf="norecord" class="norecord" src="assets/icon/no-recordFound.jpg" />

  <app-footer></app-footer>
</ion-app>
