<ion-content padding>

  <ion-row>
    <ion-col text-center>
      <img class="prlogo" src="assets/icon/pr-logo.png" />
    </ion-col> </ion-row
  ><br /><br />

  <form [formGroup]="registerForm">
    <ion-row>
      <ion-col>
        <div class="white-border white-color">
          <ion-label *ngIf="!registerForm.value.businessType.BusinessTypeId" class="ionic-selectable-label">Select Type of Business</ion-label>
          <ionic-selectable
            formControlName="businessType"
            [items]="businessTypes"
            itemValueField="BusinessTypeId"
            itemTextField="BusinessTypeName"
            [canSearch]="true"
          >
          </ionic-selectable>
        </div>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.businessType; trackBy: trackByFn">
        <div
          class="error-message"
          *ngIf="
            registerForm.get('businessType').hasError(validation.type) &&
            (registerForm.get('businessType').dirty ||
              registerForm.get('businessType').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input
          formControlName="mobile"
          class="white-border white-color"
          type="number" 
          (ionInput)="validationMobile($event.target.value)"
        ></ion-input>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.mobile; trackBy: trackByFn">
        <div
          class="error-message"
          *ngIf="
            registerForm.get('mobile').hasError(validation.type) &&
            (registerForm.get('mobile').dirty ||
              registerForm.get('mobile').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          formControlName="password"
          class="white-border white-color"
          [type]="passwordType"
        >
          <ion-icon
            (click)="hideShowPassword()"
            class="eye"
            [name]="passwordIcon"
            text-end
          ></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password; trackBy: trackByFn">
        <div
          class="error-message"
          *ngIf="
            registerForm.get('password').hasError(validation.type) &&
            (registerForm.get('password').dirty ||
              registerForm.get('password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <div class="white-border white-color">
          <ion-label *ngIf="!registerForm.value.region.RegionId" class="ionic-selectable-label">Select Region</ion-label>
          <ionic-selectable
            formControlName="region"
            [items]="regions"
            itemValueField="RegionId"
            itemTextField="RegionName"
            [canSearch]="true"
          >
          </ionic-selectable>
        </div>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.region; trackBy: trackByFn">
        <div
          class="error-message"
          *ngIf="
            registerForm.get('region').hasError(validation.type) &&
            (registerForm.get('region').dirty ||
              registerForm.get('region').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <br />
    <ion-row>
      <ion-col>
        <ion-checkbox formControlName="agree"></ion-checkbox>
        <ion-label style="font-size: 0.9rem;"
          >&nbsp;I Agree to Terms & Conditions of Pharmarack</ion-label
        >
      </ion-col>
    </ion-row>
    <br />
    <ion-row>
      <ion-col size="6" class="signin padding0">
        <app-back-button [link]="['/login']"></app-back-button>
      </ion-col>
      <ion-col size="6" class="create padding0">
        <ion-button (click)="register()" color="blue" expand="full" fill="solid"
          >Register</ion-button
        >
      </ion-col>
    </ion-row>
  </form>

  <!-- <app-skeleton-loader></app-skeleton-loader> -->
</ion-content>

<!-- <app-footer></app-footer> -->
