<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <img class="prlogo" src="assets/icon/pr-logo.png" />
    </ion-col> </ion-row
  ><br /><br />

  <form [formGroup]="registerForm">
    <ion-row>
      <ion-col>
        <div class="white-border white-color">
          <pr-select
            [placeHolder]="'REGISTER.BT' | translate"
            [ctrName]="'businessType'"
            [items]="businessTypes$"
            [id]="'BusinessTypeId'"
            [name]="'BusinessTypeName'"
            [canSearch]="true"
            (valueChange)="updateBussinessType($event)"
          ></pr-select>
        </div>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.businessType;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="
            !registerForm.value.businessType.BusinessTypeId && !firstTimeLoad
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-input
          [placeholder]="'REGISTER.MOBILE' | translate"
          formControlName="mobile"
          class="white-border white-color"
          type="tel"
          maxlength="10"
          clearOnEdit="false"
          (ionChange)="checkIfUserExists()"
        ></ion-input>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.mobile;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="
            registerForm.get('mobile').hasError(validation.type) &&
            (registerForm.get('mobile').dirty ||
              registerForm.get('mobile').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>

      <div class="error-message" *ngIf="isUserExists">
        {{ "VALIDATIONS.REGISTERED" | translate }}
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-item color="transparent" class="white-border white-color">
          <ion-input
            type="password"
            [placeholder]="'LOGIN.PASSWORD' | translate"
            #userPassword
            formControlName="password"
            clearOnEdit="false"
          ></ion-input>

          <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            item-end
            prShowHideInput
            [targetInput]="userPassword"
          >
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.password;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="
            registerForm.get('password').hasError(validation.type) &&
            (registerForm.get('password').dirty ||
              registerForm.get('password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <div class="white-border white-color">
          <pr-select
            [placeHolder]="'REGISTER.REGIONS' | translate"
            [ctrName]="'region'"
            [items]="regions$ | async"
            [id]="'RegionId'"
            [name]="'RegionName'"
            [canSearch]="true"
            (valueChange)="updateRegion($event)"
          ></pr-select>
        </div>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.region;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="!registerForm.value.region.RegionId && !firstTimeLoad"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <br />
    <ion-row>
      <ion-col>
        <ion-checkbox formControlName="agree"></ion-checkbox>
        <ion-label class="message"
          >&nbsp;{{ "REGISTER.AGREE" | translate }}
          <a
            href="http://www.pharmarack.com/termsandconditions"
            target="_blank"
          >
            <u>{{ "REGISTER.tnc" | translate }}</u></a
          >
          {{ "REGISTER.ofPR" | translate }}
        </ion-label>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="let validation of validation_messages.tnc; trackBy: trackByFn"
      >
        <div
          class="error-message"
          *ngIf="!registerForm.value.agree && !firstTimeLoad"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <br />
    <ion-row>
      <ion-col size="6" class="signin padding0">
        <app-back-button [link]="['/login']"></app-back-button>
      </ion-col>
      <ion-col size="6" class="create padding0">
        <ion-button
          (click)="register()"
          color="blue"
          expand="full"
          fill="solid"
          >{{ "REGISTER.REGISTER" | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
