  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-label color="dark" translate class="lable-font-weight600">
          IMAGE_UPLOAD.PROFILE_IMAGE_TITLE
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label color="dark"><h5 translate="">IMAGE_UPLOAD.PROFILE_IMAGE_SUBTITLE</h5></ion-label>
      </ion-col>      
    </ion-row>
    <ion-row class="border-top-row">
      <ion-col text-center size="6" class="border-right-col">
        <ion-label color="primary" (click)="takePhoto(0)">Upload</ion-label>
        <!-- <ion-button size="small" (click)="takePhoto(0)">Upload</ion-button> -->
      </ion-col>
      <ion-col text-center size="6">
          <ion-label color="primary" (click)="takePhoto(0)">Capture</ion-label>
          <!-- <ion-button (click)="takePhoto(1)">Capture</ion-button> -->
        </ion-col>
    </ion-row>
  </ion-grid>

