<!-- <ion-list *ngIf="isWeb" color="primary" lines="none" no-padding>
  <ion-item lines="none" color="primary">
    <ion-label><span translate>Language</span></ion-label>
    <ion-select [ngModel]="currentLanguage" (ngModelChange)="setLanguage($event)" interface="popover">
      <ion-select-option *ngFor="let language of languages" [value]="language">{{
        language
      }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->
<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <img class="prlogo" src="assets/icon/pr-logo.png" />
    </ion-col> </ion-row
  ><br /><br />

  <form [formGroup]="loginForm">
    <ion-row>
      <ion-col>
        <ion-item color="transparent" class="white-border white-color">
          <ion-icon name="person"></ion-icon>&nbsp;
          <!-- <ion-label position="floating">{{ "LOGIN.UM" | translate }}</ion-label> -->
          <ion-input
            placeholder="{{ 'LOGIN.UM' | translate }}"
            formControlName="username"
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.username;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="
            loginForm.get('username').hasError(validation.type) &&
            (loginForm.get('username').dirty ||
              loginForm.get('username').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <!-- <ion-label position="floating">{{
          "LOGIN.PASSWORD" | translate
        }}</ion-label> -->

        <ion-item color="transparent" class="white-border white-color">
          <ion-icon name="lock"></ion-icon>&nbsp;
          <ion-input
            type="password"
            placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
            #password
            formControlName="password"
            clearOnEdit="false"
          ></ion-input>

          <!-- <button
            class="showhidePass"
            color="light"
            ion-button
            type="button"
            item-end
            prShowHideInput
            [targetInput]="password"
          > -->
            <ion-icon name="eye" prShowHideInput
            [targetInput]="password"></ion-icon>
          <!-- </button> -->
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="validation-errors">
      <ng-container
        *ngFor="
          let validation of validation_messages.password;
          trackBy: trackByFn
        "
      >
        <div
          class="error-message"
          *ngIf="
            loginForm.get('password').hasError(validation.type) &&
            (loginForm.get('password').dirty ||
              loginForm.get('password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div
      *ngIf="loginForm.value.username && loginForm.value.password"
      class="validation-errors"
    >
      <div class="error-message">
        {{ "VALIDATIONS.TERMS" | translate }}
      </div>
    </div>

    <br />
    <ion-row>
      <ion-col>
        <ion-icon name="key"></ion-icon>
        <ion-label
          class="hyperlink"
          [routerLink]="['/forgot-password']"
          style="font-size: 0.9rem;"
          >&nbsp;{{ "LOGIN.FP" | translate }}</ion-label
        >
      </ion-col>
    </ion-row>

    <br />
    <ion-row>
      <ion-col size="6" class="signin padding0">
        <ion-button
          (click)="login()"
          color="mustard"
          expand="full"
          fill="solid"
          pr-retailer-analytics
          >{{ "LOGIN.SI" | translate }}</ion-button
        >
      </ion-col>
      <ion-col size="6" class="create padding0">
        <ion-button
          color="blue"
          expand="full"
          fill="solid"
          [routerLink]="['/register']"
          pr-retailer-analytics
          >{{ "LOGIN.CA" | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!-- <ion-content text-center>
    <div class="ion-padding">
      <h2>Click button to open modal</h2>
    </div>
   
      <ion-button (click)="openModal()">Open Modal</ion-button>
   
      <p *ngIf="dataReturned">{{dataReturned}}</p>
   
   
  </ion-content> -->
