// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// White border

.white-border {
  border: 1px solid white;
}

.white-color {
  color: white;
}

.grey-border {
  border: 1px solid #888888;
  box-shadow: 1px 1px #888888;
}

.grey-color {
  color: #888888;
}

ion-content{
  --background: white;
  --color: black;
}

ion-input {
  --placeholder-color: white;
  --placeholder-opacity: 1;
  margin-top: 2%;
}

ion-button{
  height: 53px;
  font-size: 0.8rem;
  text-transform: inherit;
}

.mustard {
  background: #fb9010;
}

.mustard-color{
  color: #fb9010;
}

.blue {
  background: #4592d6;
}

.blue-color{
  color: #3880ff;
}

ion-footer {
  background: #FCA43A;
}

.padding0 {
  padding: 0% !important;
}

.alert-head.sc-ion-alert-md {
  padding: 0.7rem !important;
}

.select-label {
  position: absolute;
  padding: 3%;
}

//pr logo

.prlogo {
  width: 11rem;
}

//view password icon

.eye {
  float: right;
  margin: 0% 0% 0% 92%;
  position: absolute;
}

//signin button

.signin {
  margin-left: 2%;
}

//create button

.create {
  margin-left: -4%;
}

//ionic selectable

.ionic-selectable {
  height: 2.5rem;
}

ion-modal {
  --height: 26rem !important;
  --width: 95% !important;
}

.ionic-selectable-value-item {
  padding-left: 3%;
}

ionic-selectable-modal{
  ion-content{
    --background: white !important;
  }
}

//validation error message

.error-message{
  color: red;
  padding-left: 3%;
}

//sidemenu 

.sidemenu{
  background: white !important;
  color: black !important;
}

.sidemenu-header{
  background: #4592D6 !important;
  color: white !important;
}

.sidemenu-name{
  font-size: 1.4rem;
}

.sidemenu-version{
  color: #81BBE9;
}

//header

ion-toolbar {
  --background: #FCA43A;
}

ion-header {
  --background: #FCA43A;
}

//sidemenu icon

ion-menu-button {
  color: white !important;
}

ion-title{
  color: white;
}

//header icon

.header-icon{
  font-size: 1.7rem;
  padding-top: 0.2rem;
}

//header title

.header-title{
  padding-top: 0.4rem;
  font-size: 1.1rem;
}

pre {
  overflow-x: hidden;
  white-space: pre-wrap;
  font-family: unset;
  text-align: start;
}

//selected tab

.tab-selected{
  border-bottom: 1px solid #fb9010 !important;
}

ion-list{
  overflow-y: scroll;
}

.ionic-selectable-label{
  position: absolute;
  margin: 0.7rem 0rem 0rem 0.7rem;
}

.dashboard-icon {
  width: 6rem !important;
  margin: 0 auto;
}

.message{
  font-size: 0.9rem;
}

.title{
  font-size: 1.1rem;
}

ionic-selectable {
  border: 1px solid grey;
}

ion-back-button{
  color: white !important;
}

.border-mustard{
  border-left: 5px solid #FB9010;
  border-right: 5px solid #FB9010;
}

.grey-bg{
  background: lightgrey;
}

.alignSelf-center {
  align-self: center
}

.marginTop {
  margin-top: 10px;
}

.green {
  color: green;
}

.dark-blue {
  color: darkblue;
}

.red {
  color: red;
}

.delete-icon{
    font-size: 1.4rem;
}

.profile-image{
  height: 8em;
}

//searchbar

.searchbar-input{
  border-radius: 0px !important;
}

ion-searchbar {
    ::placeholder {
      font-size: 1rem !important; 
    }      
    // border: 1px solid grey !important;
    // margin-top: 1rem;
}

.search-validation-text{
    color: maroon !important;
}

.product-name{
  font-size: 1.1rem;
  font-weight: bold;
}

.norecord{
  margin-bottom: 11rem;
}

.searchbar-input.sc-ion-searchbar-md{
  padding-right: 0% !important;
  padding-left: 3rem !important;
}

ion-fab{
  position: fixed;
}

.mustard-color{
  color: #FB9010;
}