<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuLeft"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="menuRight"></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col size="8">
        <div class="searchbar-design" [routerLink]="['/product-search']">
          &nbsp;&nbsp;Product Search<ion-icon class="search-icon" name="search"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="header-icon" name="share"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon
          [routerLink]="['/notification']"
          class="header-icon"
          name="notifications-outline"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <pr-slide></pr-slide>
    </ion-col>
  </ion-row>

  <pr-card [pages]="pages"></pr-card>
</ion-content>
