<ion-content>
  <ion-card class="border-mustard">
    <ion-card-content>
      <ion-label text-wrap translate>
        ADD_DISTRIBUTOR.REQUEST_TAB_MESSAGE_1<br />
        <b translate>ADD_DISTRIBUTOR.NOTE</b>
        ADD_DISTRIBUTOR.REQUEST_TAB_MESSAGE_2
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-searchbar
        [(ngModel)]="searchText"
        [placeholder]="'ADD_DISTRIBUTOR.SEARCH_PLACEHOLDER' | translate"
        [showCancelButton]="true"
        (ionChange)="search()"
      ></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="searchList.length == 0 && searchText">
    <ion-item>
      <ion-label>{{ "ADD_DISTRIBUTOR.NOTFOUND" | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="searchList.length !== 0 && searchText">
    <ion-item
      *ngFor="let store of searchList"
      (click)="selectStore({ detail: { checked: true, value: store.StoreId } }, true)"
    >
      <ion-label>{{ store.StoreName }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-row class="grey-bg">
    <ion-col size="2" text-start>
      <ion-checkbox
        [(ngModel)]="masterCheck"
        (ionChange)="checkMaster()"
        color="mustard"
      ></ion-checkbox>
    </ion-col>
    <ion-col size="6" text-start>
      <ion-label
        ><b>{{ "ADD_DISTRIBUTOR.STORE" | translate }}</b></ion-label
      >
    </ion-col>
    <ion-col size="4" text-center>
      <ion-label
        ><b>{{ "ADD_DISTRIBUTOR.PARTY_CODE" | translate }}</b></ion-label
      >
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let store of stores$ | async">
    <ion-col class="padding" size="2" text-start>
      <ion-checkbox
        [(ngModel)]="store.isChecked"
        [value]="store.StoreId"
        (ionChange)="selectStore($event)"
        color="mustard"
      ></ion-checkbox>
    </ion-col>
    <ion-col class="padding" size="6" text-start>
      <ion-label>{{ store.StoreName }}</ion-label>
    </ion-col>
    <ion-col size="4" text-center>
      <ion-input
        [placeholder]="'ADD_DISTRIBUTOR.OPTIONAL_PLACEHOLDER' | translate"
      ></ion-input>
    </ion-col>
  </ion-row>

  <br />
  <ion-row>
    <ion-col size="6" class="signin">
      <app-back-button [link]="['/login']"></app-back-button>
    </ion-col>
    <ion-col size="6" class="create">
      <ion-button
        (click)="requestSubmit()"
        color="blue"
        expand="full"
        fill="solid"
        >{{ "SUBMIT" | translate }}</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
